<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b07deccd-d3a2-4e97-92c0-0be860017fe0/resourceGroups/AsyncInn20220701225503ResourceGroup/providers/Microsoft.Web/sites/AsyncInn2</ResourceId>
    <ResourceGroup>AsyncInn20220701225503ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b07deccd-d3a2-4e97-92c0-0be860017fe0/resourceGroups/AsyncInn20220701225503ResourceGroup/providers/Microsoft.ApiManagement/service/AsyncInn2api/apis/AsyncInn</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://asyncinn2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ac218906-0ce1-427d-b8f5-b19e63fe6bfc</ProjectGuid>
    <MSDeployServiceURL>asyncinn2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AsyncInn2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AsyncInn2</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>